.DS_Store
.gitignore
.#*
pre2re
post-hook
review-compile-plus
*.html
config.yml
*.new
*.old*
temp*
catalog.yml
00README.txt
example/.editorconfig
example/test
example-origin
mushahiroyuki/gpt4-book
TAGS
diff.txt
*-nouse-for-now
images/ch22b/*.pdf
*translated-perl.re
mushahiroyuki/1st-re/
*for-md.re
*for-win.re
zz-old
zz-old2
zz-today
.DS_Store
nohup.out
00翻訳時使用ファイル集
zz-filelist
*mine.go
*v1only
*-mine
*.mine
*my-try*.go
*mytry*.go
## src/example/ch13/4http/myproj/
myproj
*-trying.go
*-origin.go
*.old.go
ch*.pdf
*shell*
example-1sted
example/ch15/file_parser*/testdata
example/ch15/file_parser.origin*
ch23c-org.re
*.try
*.origin
*-old.png
nohup.out
*mine.txt
00DIARY.txt
*.save
*-nogood
*-eng.go
*.exe
*.old/*
*-origin.go
*v1only
